PORT=3001

AUTH_SECRET=your-auth-secret

AUTH_GOOGLE_ID=your-google-id
AUTH_GOOGLE_SECRET=your-google-secret

NEXT_PUBLIC_API_URL_DEV=http://localhost:3000
NEXT_PUBLIC_API_URL_PROD=https://suburin.duckdns.org