@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-stack-sans), sans-serif;
}

@theme {
  --color-primary: #0d530e;
  --color-primary-light: #306d29;
  --color-background: #fbf5dd;

  --font-size-xs: 0.85rem;
  --font-size-sm: 0.95rem;
  --font-size-base: 1.05rem;

  --color-card: #ffffff;
  --color-card-foreground: #1c2d1b;
  --color-border: #e7e2ce;
  --color-muted: #f5f1e1;
  --color-muted-foreground: #6b7280;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-sans);
  color: #1c2d1b;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
