PORT=3000

DB_PASSWORD=your_password_here

DATABASE_URL=your_database_url_here
DIRECT_URL=your_direct_url_here

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

JWT_SECRET=your_jwt_secret_here

MQTT_BROKER_URL=mqtts://your-emqx-host.emqxsl.com
MQTT_PORT=8883
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password

UPSTASH_REDIS_REST_URL=your-redis-rest-url
UPSTASH_REDIS_REST_TOKEN=your-redis-rest-token
SENSOR_THROTTLE_SECONDS=30

METRICS_PASSWORD=your_metrics_password_here