PORT=3000

DB_PASSWORD=your_password_here

DATABASE_URL=your_database_url_here
DIRECT_URL=your_direct_url_here

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

JWT_SECRET=your_jwt_secret_here

MQTT_BROKER_URL=mqtts://your-emqx-host.emqxsl.com
MQTT_PORT=8883
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password

REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here
SENSOR_THROTTLE_SECONDS=30

METRICS_PASSWORD=your_metrics_password_here

TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here